.background{
	background-color: #040869;
}

.metrics {
	color: white;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	text-align: center;	
	font-size: 60px;
}

#drinkMessage{
	color: white;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	text-align: center;	
	font-size: 200px;
	height: 80%;
}